{% load static %} 
{% comment %} Help include images, css, js  {% endcomment %}
<!DOCTYPE html>
{% comment %} Indicates the document is an html document and its vewrsions {% endcomment %}
<html lang="en">
  {% comment %}  Starting of html and defines its language is english {% endcomment %}
  <head>
    {% comment %} It carriies meta data about the site {% endcomment %}
    <meta charset="utf-8" />
    {% comment %} Used to display the special characters correctly {% endcomment %}
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    {% comment %} Makes the site responsive {% endcomment %}
    <title>{% block title %} {% endblock title %}</title>
    {% comment %}  Used to define a placeholder for dynamic page titles. Child templates can override this bloack to set customer titles  {% endcomment %}
    <meta
      name="description"
      content="ecommerce website for the goods you require accroding to you at very good quality"
    />
    {% comment %} This tag provide a brief description of site to search engines  {% endcomment %}
    <meta
      name="keywords"
      content="selling, amazon, goodproducts, bestquality"
    />
    {% comment %} This tag specifies important keywords which can improve the site's search engine ranking {% endcomment %}


    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    {% comment %} This indicates the google fonts to use in the site correctly  {% endcomment %}

      <!-- Bootstrap CSS -->
      {% block extra_css %}
      <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"crossorigin="anonymous"/>
      {% endblock %}
    {% comment %} Django template tags used to allow css to be added inside this block if needed   {% endcomment %}
      
    <!-- Vendor CSS Files -->
    <link
      href="{% static '/assets/vendor/bootstrap/css/bootstrap.min.css'%}"
      rel="stylesheet"
    />
    {% comment %} It links to the bootstrap css file from the project's static folder, used for layout and ui components {% endcomment %}
    <link
      href="{% static '/assets/vendor/bootstrap-icons/bootstrap-icons.css'%}"
      rel="stylesheet"
    />
    {% comment %} It likns to the Bootstrap Icons css file for icon styles {% endcomment %}
    <link href="{% static '/assets/vendor/aos/aos.css'%}" rel="stylesheet" />
    {% comment %} It links the AOS (Animation On Scroll) Css file, used for scroll animations {% endcomment %}
    <link
      href="{% static '/assets/vendor/glightbox/css/glightbox.min.css'%}"
      rel="stylesheet"
    />
    {% comment %} This links to the Glightbox CSS file which is used for a lightbox gallery feature {% endcomment %}
    <link
      href="{% static '/assets/vendor/swiper/swiper-bundle.min.css'%}"
      rel="stylesheet"
    />
    {% comment %} It links to the Swiper css file, which provides a touch slider/carousel component {% endcomment %}
    <!-- Main CSS File -->
    <link href="{% static '/assets/css/main.css'%}" rel="stylesheet" />
    {% comment %} It links to the custom main.css file that contains the site's main styling rules {% endcomment %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% comment %} It includes an older version of the framework, used for building responsive layouts {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    {% comment %} It is used for DOM manipulation and Bootsrap's javascript components {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    {% comment %} It includes a library required for tooltips, popovers, and dropdowns in bootstrap {% endcomment %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% comment %} It includes the bootstrap js file, which enables dynamics features like modals, carousels, and navigations in bootstrap components {% endcomment %}

  </head>
  {% comment %} end part of the head tag {% endcomment %}

  <body class="index-page">
    <header id="header" class="header d-flex align-items-center fixed-top">
      {% comment %} Header section of the site and positions it at the top 
      d-flex: It applies flexbox layout to the element allowing flexible and responsive arrangement of its child elements
      align-items-center: Flexbox utility class that vertically centers the items(children) within the header
      fixed-top: it fixes the header to the top of the viewport, so it remains visible while scrolling {% endcomment %}
      <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
        {% comment %} it makes the container full width and makes the container extra-large on larger screens and positions
         the element relative to its normal position and enables flexible layout and verically centers the child elements and 
         spaces child element with even distribution between left and right{% endcomment %}
        <a href="/" class="logo d-flex align-items-center">
           {% comment %} <img src="static/assets/img/logo/mainlogo.jpg" alt="Shopille">  {% endcomment %}
          <h1 class="logo" href="/">Shopille</h1>
        </a>
        {% comment %} Logo {% endcomment %}

        <nav id="navmenu" class="navmenu">
          <ul>

            <a href="/">
              <button id="home" class="btn btn-light position-relative nav-link scrollto bg-secondary p-2 m-2 text-white" type="button" data-bs-toggle="popover"
                title="Home" style="border-radius: 15px;">
                Home
              </button>
            </a>
            {% comment %} Home {% endcomment %}

            <a href="/about">
              <button id="about" class="btn btn-light position-relative nav-link scrollto bg-secondary p-2 m-2 text-white" type="button" data-bs-toggle="popover"
                title="About" style="border-radius: 15px;">
                About
              </button>
            </a>
            {% comment %} About {% endcomment %}

            <a href="/user_profile">
              <button id="profiles" class="btn btn-light position-relative nav-link scrollto bg-secondary p-2 m-2 text-white" type="button" data-bs-toggle="popover"
                title="My Profiles" style="border-radius: 15px;">
                My Profiles
              </button>
            </a>

            {% for user in users %}
                <a href="{% url 'user_profile' user.username %}">{{ user.username }}</a><br>
            {% endfor %}
            {% comment %} My Profiles {% endcomment %}
        
            <!-- Cart Button with Popover -->
            <a href="/cart">
              <button id="cart" class="btn btn-light position-relative nav-link scrollto bg-danger p-2 m-2 text-white" type="button" data-bs-toggle="popover"
                title="Cart" data-bs-content="Items in your cart" style="border-radius: 15px;">
                Cart 
                <span class="badge bg-danger position-absolute top-0 start-100 translate-middle rounded-pill" id="cart-count">0</span>
              </button>
            </a>
            {% comment %} Cart {% endcomment %}

              <li>
              <a class="bg-secondary text-white p-2 m-2" href="/checkout" style="border-radius: 15px;">
                <img
                src="{% static '/assets/img/logo/orders.png'%}" 
                alt="checkout" class="mx-1 white-icon"
                style="width: 20px; height: 20px; vertical-align: middle"
                />Checkout</a>
            </li>
            {% comment %} Checkout {% endcomment %}
            
            {% if request.user.is_authenticated %}
            <span>Hello, {{ user.username }}</span>
            <li>
              <a class="nav-link scrollto bg-primary p-2 m-2" href="/auth/logout/" style="border-radius: 15px;">
                <img src="{% static '/assets/img/logo/loginlogo.png' %}" 
                alt="Login" class="mx-1 white-icon"
                style="width: 20px; height: 20px; vertical-align: middle;"
                />Logout</a>
            </li>
            {% else %}
        
              <li>
                <a class="nav-link scroll bg-primary p-2 m-2" href="/auth/login/" style="border-radius: 15px;">
                  <img src="{% static '/assets/img/logo/loginlogo.png' %}" 
                  alt="Login" class="mx-1 white-icon"
                  style="width: 20px; height: 20px; vertical-align: middle;"
                  />Login</a>
              </li>
            {% endif %}
                  <li><a class="nav-link scrollto bg-info p-2 m-2" href="/contact" style="border-radius: 18px;">Contact</a></li>
                  {% comment %} Contact {% endcomment %}
                  
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
      </div>
    </header>

    <main class="main">
      <!-- Hero Section -->
       <section id="hero" class="hero section dark-background">
        <img src="{% static '/assets/images/bgg.jpg'%}" alt="" data-aos="fade-in" />
        {% comment %} Background Image {% endcomment %}

        <div
          class="container text-center"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="row justify-content-center">
            <div class="col-lg-8">
                
                {% block content %}

                {% endblock content %}
                  
            </div>
          </div>
        </div>
      </section>
      

      <!-- /Hero Section -->

     <main id="main">
      
      {% block body %}
      <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>
      {% endblock body %}
        

    <footer id="footer" class="footer dark-background">
      <div class="container footer-top">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-about">
            <a href="index.html" class="logo d-flex align-items-center">
              <span class="sitename">Shopille</span>
            </a>
            <p>
              Cras fermentum odio eu feugiat lide par naso tierra. Justo eget
              nada terra videa magna derita valies darta donna mare fermentum
              iaculis eu non diam phasellus.
            </p>
            <div class="social-links d-flex mt-4">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><a href="#">Web Design</a></li>
              <li><a href="#">Web Development</a></li>
            </ul>
          </div>

          <div
            class="col-lg-3 col-md-12 footer-contact text-center text-md-start"
          >
            <h4>Contact Us</h4>
            <p>A108 Adam Street</p>
            <p>New York, NY 535022</p>
            <p>India</p>
            <p class="mt-4">
              <strong>Phone:</strong> <span>+91 9122611168</span>
            </p>
            <p><strong>Email:</strong> <span>fardeenazim43@gmail.com</span></p>
          </div>
        </div>
      </div>

      <div class="container copyright text-center mt-4">
        <p>
          &copy; <span>Copyright</span> <strong class="px-1 sitename">Fardeen Azim</strong>
          <span>All Rights Reserved</span>
        </p>
        {% comment %} <div class="credits">
        
        </div> {% endcomment %}
      </div>
    </footer>

    <!-- Scroll Top -->
    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{% static '/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static '/assets/vendor/php-email-form/validate.js'%}"></script>
    <script src="{% static '/assets/vendor/aos/aos.js'%}"></script>
    <script src="{% static '/assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
    <script src="{% static '/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js'%}"></script>
    <script src="{% static '/assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
    <script src="{% static '/assets/vendor/swiper/swiper-bundle.min.js'%}"></script>

    <!-- Main JS File -->
    <script src="{% static '/assets/js/main.js'%}"></script>
  </body>
</html>

